#wrapper {
	height: 100%;
}

#logo a {
	visibility: hidden;
	behavior: url(css/iepngfix.htc);
	cursor: pointer;
}

.button_ico, .extra1 {
	behavior: url(css/iepngfix.htc);
}

body {
	behavior: url(css/csshover.htc);
}

